@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Oswald:wght@700&family=Source+Sans+Pro:wght@200&display=swap");
body {
  font-family: "Nunito", sans-serif;
}

.login__container {
  width: 1440px;
  height: 860px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.login__container-login {
  height: 860px;
  width: 640px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 360px) {
  .login__container-login {
    width: 360px;
    height: 812px;
  }
}

.login__container-login--form {
  width: 350px;
}

@media (max-width: 360px) {
  .login__container-login--form {
    width: 330px;
  }
}

.logo {
  width: 80px;
  height: 42px;
  padding-top: 20px;
}

.logo__p {
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.3px;
}

.logo__p:nth-child(1) {
  color: #2B2B43;
}

.logo__p:nth-child(2) {
  color: #4E60FF;
}

.form {
  height: 798px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 360px) {
  .form {
    height: 750px;
  }
}

.form__headline {
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  letter-spacing: 0.1px;
  color: #2B2B43;
  margin: 0;
}

.form__subheadline {
  color: #545563;
}

.form__input-email, .form__input-password {
  width: 100%;
  height: 44px;
  border: 1px solid #C7C8D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 12px;
}

.form__input-checkbox {
  height: 18px;
  width: 18px;
  border: 2px solid #C7C8D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form__label {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #545563;
}

.form__label-checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  padding-left: 12px;
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__button--login, .form__button--forgot-password {
  width: 100%;
  height: 44px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border: none;
  background: #4E60FF;
  -webkit-box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
          box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
  border-radius: 8px;
  color: white;
}

.form__button--forgot-password {
  -webkit-box-shadow: none;
          box-shadow: none;
  letter-spacing: 0.3px;
  color: #4E60FF;
  background-color: white;
  margin-top: 16px;
}

.sign-up {
  text-align: center;
  width: 350px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.sign-up__p {
  color: #545563;
}

.sign-up__link {
  text-decoration: none;
  color: #4E60FF;
}

.reviews {
  background: white;
  border: 0.89429px solid #EDEEF2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 14.3086px;
  width: 313px;
  height: 436.41px;
  position: absolute;
  top: 48px;
  left: 95px;
}

.reviews__overall {
  width: 284.68px;
  height: 39.46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16.1px;
  margin-left: 14.31px;
}

.reviews__overall-rating {
  width: 100%;
  height: 39.46px;
}

.reviews__overall-rating--p {
  width: 284.38px;
  height: 16.1px;
  font-weight: 700;
  font-size: 11.6257px;
  line-height: 16px;
  letter-spacing: 0.0894286px;
  color: #2B2B43;
  position: absolute;
  left: 14.31px;
  top: 14.31px;
}

.reviews__overall-rating--overall-rating {
  margin: 0;
}

.reviews__overall-rating--votes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  position: absolute;
  width: 140px;
  height: 25.04px;
  left: 14.31px;
  top: 32.19px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__overall-rating--votes--42 {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 17.8857px;
  line-height: 25px;
  letter-spacing: 0.0894286px;
  color: #4E60FF;
}

.reviews__overall-rating--votes--stars {
  width: 10.43px;
  height: 9.92px;
}

.reviews__overall-rating--votes--3 {
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #83859C;
}

.reviews__overall__button {
  border: 1px solid #4E60FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  width: 107.62px;
  height: 39.46px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #4E60FF;
  font-family: "Nunito";
  background-color: white;
  letter-spacing: 0.3px;
}

.reviews__divider {
  width: 310px;
  position: absolute;
  top: 71.54px;
  background-color: #EDEEF2;
  border: 0.89429px solid #EDEEF2;
}

.reviews__divider__2 {
  width: 284.38px;
  height: 0;
  background-color: #EDEEF2;
  border: 0.89429px solid #EDEEF2;
  position: absolute;
  top: 280.65px;
  left: 14.31px;
}

.reviews__select {
  position: absolute;
  height: 31.31px;
  left: 82.33px;
  right: 82.33px;
  top: 82.27px;
  background: #FFFFFF;
  border: 1px solid #C7C8D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #83859C;
  text-align: center;
}

.reviews__savanna {
  width: 284.38px;
  height: 130.41px;
  display: -ms-grid;
  display: grid;
  position: absolute;
  left: 14.31px;
  top: 135.93px;
}

.reviews__jacob {
  width: 284.38px;
  height: 130.41px;
  display: -ms-grid;
  display: grid;
  position: absolute;
  left: 14.31px;
  top: 294.95px;
}

.reviews__person--avatar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

.reviews__person--name {
  width: 241.46;
  height: 18;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #2B2B43;
}

.reviews__person--rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  width: 124.33px;
  height: 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.reviews__person--rating-10 {
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #83859C;
}

.reviews__person--review {
  width: 241.46px;
  height: 54px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #2B2B43;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin: 0;
}

.reviews__person--like {
  width: 80.81px;
  height: 29.31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.reviews__person--like--like {
  width: 34.46px;
  height: 15px;
}

.reviews__person--like--dislike {
  width: 28.46px;
  height: 15px;
}

.nigiri {
  background: white;
  border: 0.84657px solid #EDEEF2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 13.5452px;
  height: 132px;
  width: 618px;
  position: absolute;
  left: 65px;
  top: 430px;
  -webkit-filter: drop-shadow(0px 0px 80px rgba(49, 57, 120, 0.4));
          filter: drop-shadow(0px 0px 80px rgba(49, 57, 120, 0.4));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nigiri__container {
  width: 590.9px;
  height: 104.9px;
  margin-left: 13.55px;
  display: -ms-grid;
  display: grid;
}

.nigiri__container--pic {
  width: 169.31px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.nigiri__container--pic--img {
  width: 152.38px;
  height: 104.91px;
  border-radius: 8px;
}

.nigiri__container--name {
  height: 21px;
  width: 270.9px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #2B2B43;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.nigiri__container--p {
  margin: 0;
}

.nigiri__container--description {
  height: 31px;
  width: 270.9px;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #83859C;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.nigiri__container--price {
  height: 28px;
  width: 270.9px;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #2B2B43;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.nigiri__container--counter {
  width: 112.41px;
  height: 30.41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.nigiri__container--counter--p {
  margin-left: 5.08px;
  margin-right: 5.08px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #2B2B43;
  margin: 0 5px;
}

.nigiri__container__button--minus {
  width: 16.93px;
  height: 16.93px;
  background: #EDEEF2;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6.7726px;
  border: none;
}

.nigiri__container__button--plus {
  width: 16.93px;
  height: 16.93px;
  background: #EDEEF2;
  border-radius: 6.7726px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

.nigiri__container__button--add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10.1589px 13.5452px;
  width: 112.41px;
  height: 37.32px;
  background: #F3F4FF;
  border-radius: 6.7726px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #4E60FF;
  font-family: "Nunito";
  border: none;
}

.nigiri__container--add {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.roll {
  width: 294px;
  height: 279px;
  background: white;
  border: 0.84px solid #EDEEF2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 13.44px;
  position: absolute;
  right: 71px;
  top: 80px;
}

.roll__img {
  position: absolute;
  left: 13.44px;
  top: 13.44px;
  right: 13.44px;
  bottom: 114.12px;
  border-radius: 13.44px;
}

.roll__name {
  position: absolute;
  height: 21px;
  left: 13.44px;
  right: 13.44px;
  top: 174.72px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #2B2B43;
  margin: 0;
}

.roll__description {
  position: absolute;
  height: 31px;
  left: 13.44px;
  right: 13.44px;
  top: 198.24px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #83859C;
  margin: 0;
}

.roll__price {
  position: absolute;
  height: 27px;
  left: 13.44px;
  right: 53.76px;
  bottom: 13.2px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #2B2B43;
  margin: 0;
}

.media {
  width: 800px;
  height: 860px;
  background-color: #697BFF;
  position: relative;
}

.media__headline {
  position: absolute;
  width: 480px;
  height: 42px;
  left: calc(50% - 480px/2);
  top: 630px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: white;
  margin: 0;
}

.media__subheadline {
  position: absolute;
  width: 480px;
  height: 40px;
  left: calc(50% - 480px/2);
  top: 688px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: white;
  margin: 0;
}

.media__dots {
  position: absolute;
  width: 56px;
  height: 8px;
  left: 372px;
  top: 768px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.media__dots--dot {
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  opacity: 0.3;
}

.media__dots--active {
  opacity: 1;
}

@media (max-width: 360px) {
  .media {
    display: none;
  }
}
/*# sourceMappingURL=login.css.map */