@import 'mixins';

body {
    font-family: $font, sans-serif;
}
.login__container {
    width: 1440px;
    height: 860px;
    display: flex;
    flex-wrap: nowrap;
    &-login {
        height: 860px;
        width: 640px;
        background-color: white;
        display: flex;
        justify-content: center;
        @include mobile {
            width: 360px;
            height: 812px;
        }
        &--form {
            width: 350px;
            @include mobile {
                width: 330px;
            }
        }
    }
}
.logo {
    width: 80px;
    height: 42px;
    padding-top: 20px;
    &__p {
        margin: 0;
        font-style: normal;
        font-weight: 800;
        font-size: 21px;
        line-height: 21px;
        letter-spacing: 0.3px;
        &:nth-child(1) {
            color: $neutral-black;
        }
        &:nth-child(2) {
            color: $main-color;
        }
    }
}
.form {
    height: 798px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mobile {
        height: 750px;
    }
    &__headline {
        font-weight: 700;
        font-size: 60px;
        line-height: 82px;
        letter-spacing: 0.1px;
        color: $neutral-black;
        margin: 0;
    }
    &__subheadline {
        color: $dark-gray;
    }
    &__input-email {
        width: 100%;
        height: 44px;
        border: 1px solid $light-gray;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 12px;
    }
    &__input-password {
        @extend .form__input-email;
    }
    &__input-checkbox {
        height: 18px;
        width: 18px;
        border: 2px solid $light-gray;
        box-sizing: border-box;
        border-radius: 4px;
    }
    &__label {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: $dark-gray;
        &-checkbox {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1px;
            padding-left: 12px;
        }
    }
    &__checkbox {
        display: flex;
        align-items: center;
    }
    &__button--login {
        width: 100%;
        height: 44px;
        font-family: $font;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        border: none;
        background: $main-color;
        box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
        border-radius: 8px;
        color: white;
    }
    &__button--forgot-password {
        @extend .form__button--login;
        box-shadow: none;
        letter-spacing: 0.3px;
        color: $main-color;
        background-color: white;
        margin-top: 16px;
        }
}
.sign-up {
    text-align: center;
    width: 350px;
    height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    justify-content: center;
    margin-bottom: 40px;
    &__p {
        color: $dark-gray;
    }
    &__link {
        text-decoration: none;
        color: $main-color;
    }
}