.nigiri {
    background: white;
    border: 0.846575px solid $lightest-gray;
    box-sizing: border-box;
    border-radius: 13.5452px;
    height: 132px;
    width: 618px;
    position: absolute;
    left: 65px;
    top: 430px;
    filter: drop-shadow(0px 0px 80px rgba(49, 57, 120, 0.4));
    display: flex;
    align-items: center; 
    &__container {
        width: 590.9px;
        height: 104.9px;
        margin-left: 13.55px;
        display: grid;
        &--pic {
            width: 169.31px;
            grid-row: 1/4;
            grid-column: 1/2;
            &--img {
                width: 152.38px;
                height: 104.91px;
                border-radius: 8px;
            }
        }
        &--name {
            height: 21px;
            width: 270.9px;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: $neutral-black;
            grid-row: 1/2;
            grid-column: 2/3;
        }
        &--p {
            margin: 0;
        }
        &--description {
            height: 31px;
            width: 270.9px;
            font-weight: 400;
            font-size: 11px;
            line-height: 18px;
            letter-spacing: 0.2px;
            color: $gray;
            grid-row: 2/3;
            grid-column: 2/3;
        }
        &--price {
            height: 28px;
            width: 270.9px;
            font-weight: 800;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.1px;
            color: $neutral-black;
            grid-row: 3/4;
            grid-column: 2/3;
        }
        &--counter {
            width: 112.41px;
            height: 30.41;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            grid-row: 2/3;
            grid-column: 3/4;
            &--p {
                margin-left: 5.08px;
                margin-right: 5.08px;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.1px;
                color: $neutral-black;
                margin: 0 5px;
            }
        }
        &__button {
            &--minus {
                width: 16.93px;
                height: 16.93px;
                background: $lightest-gray;
                opacity: 0.5;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 6.7726px;
                border: none;
            }
            &--plus {
                width: 16.93px;
                height: 16.93px;
                background: $lightest-gray;
                border-radius: 6.7726px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
            }
            &--add {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10.1589px 13.5452px;
                width: 112.41px;
                height: 37.32px;
                background: $light;
                border-radius: 6.7726px;
                font-weight: 700;
                font-size: 12px;
                line-height: 20px;
                color: $main-color;
                font-family: $font;
                border: none;
            }
        }
        &--add {
            grid-row: 3/4;
            grid-column: 3/4;
        }
    }
}
.roll {
    width: 294px;
    height: 279px;
    background: white;
    border: 0.84px solid $lightest-gray;
    box-sizing: border-box;
    border-radius: 13.44px;
    position: absolute;
    right: 71px;
    top: 80px;
    &__img {
        position: absolute;
        left: 13.44px;
        top: 13.44px;
        right: 13.44px;
        bottom: 114.12px;
        border-radius: 13.44px;
    }
    &__name {
        position: absolute;
        height: 21px;
        left: 13.44px;
        right: 13.44px;
        top: 174.72px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: $neutral-black;
        margin: 0;
    }
    &__description {
        position: absolute;
        height: 31px;
        left: 13.44px;
        right: 13.44px;
        top: 198.24px;
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: $gray;
        margin: 0;
    }
    &__price {
        position: absolute;
        height: 27px;
        left: 13.44px;
        right: 53.76px;
        bottom: 13.2px;
        font-family: $font;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        color: $neutral-black;
        margin: 0;
    }    
}