@import 'reviews';
@import 'meals';
@import 'mixins';

.media {
    width: 800px;
    height: 860px;
    background-color: $bg-color;
    position: relative;
    &__headline {
        position: absolute;
        width: 480px;
        height: 42px;
        left: calc(50% - 480px/2);
        top: 630px;
        font-family: $font;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1px;
        color: white;
        margin: 0;
    }
    &__subheadline {
        position: absolute;
        width: 480px;
        height: 40px;
        left: calc(50% - 480px/2);
        top: 688px;
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1px;
        color: white;
        margin: 0;
    }
    &__dots {
        position: absolute;
        width: 56px;
        height: 8px;
        left: 372px;
        top: 768px;
        display: flex;
        justify-content: space-between;
        &--dot {
            width: 8px;
            height: 8px;
            background: white;
            border-radius: 50%;
            opacity: 0.3;
        }
        &--active {
            opacity: 1;
        }
    }
    @include mobile {
        display: none;
    }
}