.reviews {
    background: white;
    border: 0.894286px solid $lightest-gray;
    box-sizing: border-box;
    border-radius: 14.3086px;
    width: 313px;
    height: 436.41px;
    position: absolute;
    top: 48px;
    left: 95px;
    &__overall {
        width: 284.68px;
        height: 39.46px;
        display: flex;
        justify-content: space-between;
        margin-top: 16.1px;
        margin-left: 14.31px;
        &-rating {
            width: 100%;
            height: 39.46px;
            &--p {
                width: 284.38px;
                height: 16.1px;
                font-weight: 700;
                font-size: 11.6257px;
                line-height: 16px;
                letter-spacing: 0.0894286px;
                color: $neutral-black;
                position: absolute;
                left: 14.31px;
                top: 14.31px;
            }
            &--overall-rating {
                margin: 0;
            }
            &--votes {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                position: absolute;
                width: 140px;
                height: 25.04px;
                left: 14.31px;
                top: 32.19px;
                justify-content: space-between;
                &--42 {
                    margin: 0; 
                    font-style: normal;
                    font-weight: 600;
                    font-size: 17.8857px;
                    line-height: 25px;
                    letter-spacing: 0.0894286px;
                    color: $main-color;
                }
                &--stars {
                    width: 10.43px;
                    height: 9.92px;
                }
                &--3 {
                    font-weight: 700;
                    font-size: 10px;
                    line-height: 14px;
                    color: $gray;
                }
            }
        }
        &__button {
            border: 1px solid $main-color;
            box-sizing: border-box;
            border-radius: 8px;
            width: 107.62px;
            height: 39.46px;
            font-weight: 700;
            font-size: 12px;
            line-height: 20px;
            color: $main-color;
            font-family: $font;
            background-color: white;
            letter-spacing: 0.3px;
        }
    }
    &__divider {
        width: 310px;
        position: absolute;
        top: 71.54px;
        background-color: $lightest-gray;
        border: 0.894286px solid $lightest-gray;
        &__2 {
            width: 284.38px;
            height: 0;
            background-color: $lightest-gray;
            border: 0.894286px solid $lightest-gray;
            position: absolute;
            top: 280.65px;
            left: 14.31px;
        }
    }
    &__select {
        position: absolute;
        height: 31.31px;
        left: 82.33px;
        right: 82.33px;
        top: 82.27px;
        background: #FFFFFF;
        border: 1px solid $light-gray;
        box-sizing: border-box;
        border-radius: 8px;
        font-family: $font;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: $gray;
        text-align: center;
    }
    &__savanna {
        width: 284.38px;
        height: 130.41px;
        display: grid;
        position: absolute;
        left: 14.31px;
        top: 135.93px;
    }
    &__jacob {
        width: 284.38px;
        height: 130.41px;
        display: grid;
        position: absolute;
        left: 14.31px;
        top: 294.95px;
    }
    &__person {
        &--avatar {
            grid-column: 1/2;
            grid-row: 1/5;
        }
        &--name {
            width: 241.46;
            height: 18;
            grid-row: 1/2;
            grid-column: 2/3;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1px;
            color: $neutral-black;
        }
        &--rating {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            width: 124.33px;
            height: 13px;
            justify-content: space-between;
            grid-column: 2/3;
            grid-row: 2/3;
            &-10 {
                font-weight: 700;
                font-size: 10px;
                line-height: 14px;
                color: $gray;
            }
        }
        &--review {
            width: 241.46px;
            height: 54px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1px;
            color: $neutral-black;
            grid-row: 3/4;
            grid-column: 2/3;
            margin: 0;
        }
        &--like {
            width: 80.81px;
            height: 29.31px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            grid-column: 2/3;
            grid-row: 4/5;
            &--like {
                width: 34.46px;
                height: 15px;
            }
            &--dislike {
                width: 28.46px;
                height: 15px;
            }
        }
    }
}